@model VRdkHRMsystem.Models.SharedModels.Absence.AbsenceListViewModel

@{
    var searchKey = ViewData["SearchKey"] as string;
}

<form asp-action="Absences" method="get" class="content" id="submit_form">
    <section class="listsection">
        <div class="table">
            <div class="table__header">
                <p>Список прогулов</p>
                <div class="table__header_search">
                    <input name="searchKey" type="text" value="@searchKey" placeholder="Найти прогул..." autocomplete="off" />
                    <button class="submit_button" type="submit"><img src="~/images/search.png" alt="search" /></button>
                </div>
            </div>
            <div class="table__body">
                @if (Model != null && Model.Absences.Count() != 0)
                {
                    <div class="table__body_title passlist__body_title">
                        <p class="passlist__name">Работник</p>
                        <p class="passlist__team">Команда</p>
                        <p class="passlist__date">Дата</p>
                        <p class="passlist__info">Инфо</p>
                    </div>
                    @foreach (var absence in Model.Absences)
                    {
                        <div class="table__body_content">
                            <div class="table__body_block passlist__body_title">
                                <p class="passlist__name">@absence.FullEmployeeName</p>
                                <p class="passlist__team">@(absence.TeamName != null ? absence.TeamName : "Нет")</p>
                                <p class="passlist__date">@absence.Date.ToString("dd.MM.yyyy")</p>
                                <p class="passlist__info">
                                    <a href="@Url.Action("EmployeeProfile", new { id = absence.EmployeeId })"><img src="~/images/usertable.png" alt="pencil" /></a>
                                </p>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="table__body_content">
                        <div class="table__body_block passlist__body_title">
                            <p class="passlist__name">Записей нет</p>
                        </div>
                    </div>
                }
            </div>
        </div>
            @if (Model.Count > Model.PageSize)
            {
                <div class="table__pageblock">
                    @if (Model.PageNumber == 0)
                    {
                        <img src="~/images/cross.png" alt="arrow" class="disabled" style="margin-bottom:3px; cursor:not-allowed;" />
                    }
                    else
                    {
                        <a asp-action="Absences" asp-route-pageNumber=@(Model.PageNumber-1) asp-route-searchKey="@searchKey"><img src="~/images/arrow-left.png" alt="arrow" /></a>
                    }
                    <p style="padding-bottom:5px;">@(Model.PageNumber + 1) страница из @(Model.Count % Model.PageSize != 0 ? Model.Count / @Model.PageSize + 1 : Model.Count / @Model.PageSize)</p>
                    @if (Model.Count % Model.PageSize != 0 ? Model.PageNumber == Model.Count / Model.PageSize : Model.PageNumber == Model.Count / Model.PageSize - 1)
                    {
                        <img src="~/images/cross.png" alt="arrow" class="disabled" style="cursor:not-allowed;margin-bottom:3px;" />
                    }
                    else
                    {
                        <a asp-action="Absences" asp-route-pageNumber=@(Model.PageNumber+1) asp-route-searchKey="@searchKey"><img src="~/images/arrow-right.png" alt="arrow" /></a>
                    }
                </div>
            }
    </section>
</form>
