@model VRdkHRMsystem.Models.SharedModels.SickLeave.SickLeaveListViewModel

@{
    ViewData["Title"] = "SickLeaves";
    var searchKey = ViewData["SearchKey"] as string;
    var urlForCheck = "/Admin/CheckSickleaveRequest?id=";
}

<form asp-action="SickLeaves" method="get" class="content">
    <section class="listsection">
        <div class="table">
            <div class="table__header">
                <p>Список сообщений о болезнях</p>
                <div class="table__header_search">
                    <input type="text" placeholder="Найти больничный..." name="searchKey" value="@searchKey" />
                    <button type="submit"><img src="~/images/search.png" alt="search" /></button>
                </div>
            </div>
            <div class="table__body">
                @if (Model != null && Model.SickLeaves.Count() != 0)
                {
                    <div class="table__body_title sicklist__body_title">
                        <p class="sicklist__name">Имя</p>
                        <p class="sicklist__team">Команда</p>
                        <p class="sicklist__dates">Даты</p>
                        <p class="sicklist__duration">Длительность</p>
                        <p class="sicklist__info">Инфо</p>
                    </div>
                    foreach (var item in Model.SickLeaves)
                    {
                        <div class="table__body_content sicklist__body_content">
                            <div class="table__body_block">
                                <p class="sicklist__name">@item.EmployeeFullName</p>
                                <p class="sicklist__team">@item.TeamName</p>
                                @if (item.CloseDate == null)
                                {
                                    <p class="sicklist__dates">@item.CreateDate.ToString("dd.MM.yyyy") - ...</p>
                                }
                                else
                                {
                                    <p class="sicklist__dates">@item.CreateDate.ToString("dd.MM.yyyy") - @item.CloseDate.Value.ToString("dd.MM.yyyy")</p>
                                }

                                <p class="sicklist__duration">@item.Duration</p>
                                <div class="sicklist__info">
                                    <div class="profile__status_circle_sickleave_@item.RequestStatus">
                                        <div></div>
                                    </div>
                                    <a href="@Url.Action("EmployeeProfile", new { id = item.EmployeeId})"><img src="~/images/usertable.png" alt="users" style="margin:5px 2px 0px 5px;" /></a>
                                    <img src="~/images/pencil.png" alt="pencil" onclick="ShowRequestPopup('@urlForCheck','@item.SickLeaveId')" />
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="table__body_content vaclist__body_content">
                        <div class="table__body_block">
                            <p class="vaclist__name">Нет записей</p>
                        </div>
                    </div>
                }


            </div>
        </div>
        <div class="center" style="margin-left:45%">
            @if (Model.Count > Model.PageSize)
            {
                <p style="margin-bottom:12px;">
                    @if (Model.PageNumber == 0)
                    {
                        <a href="#!" class="disabled" style="cursor:not-allowed;"><img src="~/images/cross.png" alt="arrow" style="margin-bottom:2px;" /></a>
                    }
                    else
                    {
                        <a asp-action="Sickleaves" asp-route-pageNumber=@(Model.PageNumber-1) asp-route-searchKey="@searchKey"><img src="~/images/arrow-left.png" alt="arrow" /></a>
                    }

                    @if (Model.Count % Model.PageSize != 0 ? Model.PageNumber == Model.Count / Model.PageSize : Model.PageNumber == Model.Count / Model.PageSize - 1)
                    {
                        <a href="#!" class="disabled" style="cursor:not-allowed;"><img src="~/images/cross.png" alt="arrow" style="margin-bottom:2px;" /></a>
                    }
                    else
                    {
                        <a asp-action="Sickleaves" asp-route-pageNumber=@(Model.PageNumber+1) asp-route-searchKey="@searchKey"><img src="~/images/arrow-right.png" alt="arrow" /></a>
                    }
                </p>
            }
        </div>
       
    </section>
</form>
<div class="modal fade" id="request_modal" role="dialog" style="">
    <div class="modal-dialog" id="modal_place"></div>
</div>