@model VRdkHRMsystem.Models.SharedModels.TeamListViewModel

@{
    var searchKey = ViewData["SearchKey"] as string;
}
<form asp-action="TeamsPage" method="get" class="content" id="list_form">
    <section class="listsection">
        <div class="table">
            <div class="table__header">
                <p>Список команд</p>
                <div class="table__header_search">
                    <input type="text" placeholder="Найти команду..." name="searchKey" value="@searchKey" />
                    <button class="submit_button" type="submit"><img src="~/images/search.png" alt="search" /></button>
                </div>
            </div>
            <div class="table__body">
                @if (Model != null && Model.Teams.Count() != 0)
                {
                    <div class="table__body_title teamlist__body_title">
                        <p class="teamlist__name">Название команды</p>
                        <p class="teamlist__leader">Руководитель команды</p>
                        <p class="teamlist__count">Кол-во сотрудников</p>
                        <p class="teamlist__info">Инфо</p>
                    </div>
                    <div class="table__body_content teamlist__body_content">
                        @foreach (var team in Model.Teams)
                        {
                            <div class="table__body_block">
                                <p class="teamlist__name">@team.Name</p>
                                <p class="teamlist__leader">@team.TeamleadName</p>
                                <p class="teamlist__count">@team.MembersCount</p>
                                <p class="teamlist__info">
                                    <img src="~/images/cross2.png" alt="exit" style="cursor:pointer" onclick="deleteTeam('@team.TeamId')" />
                                    <a href="@Url.Action("TeamProfile","Admin", new { id = team.TeamId })" style="margin-top:4px;"><img src="~/images/users.png" alt="users" /></a>
                                    <a href="@Url.Action("EditTeam","Admin", new { id = team.TeamId })" style="margin-top:4px;"><img src="~/images/penciltable.png" alt="pencil" /></a>
                                </p>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="table__body_content teamlist__body_content">
                        <div class="table__body_block">
                            <p class="teamlist__name">Нет записей</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        @if (Model.Count > Model.PageSize)
        {
            <div class="table__pageblock" style=" margin-top:10px;display:none;" id="paggination_list_gif" type-anchor="vacation">
                <img src="~/images/load.gif" />
            </div>
            <div class="table__pageblock" id="paggination_list">
                @if (Model.PageNumber == 0)
                {
                    <img src="~/images/cross.png" alt="arrow" class="disabled" style="cursor:not-allowed;" />
                }
                else
                {
                    <img class="list_paggination" action-anchor="TeamsPage" pageNumber-anchor="@(Model.PageNumber-1)" searchKey-anchor="@searchKey" src="~/images/arrow-left.png" alt="arrow" />
                }
                <p>@(Model.PageNumber + 1) страница из @(Model.Count % Model.PageSize != 0 ? Model.Count / @Model.PageSize + 1 : Model.Count / @Model.PageSize)</p>
                @if (Model.Count % Model.PageSize != 0 ? Model.PageNumber == Model.Count / Model.PageSize : Model.PageNumber == Model.Count / Model.PageSize - 1)
                {
                    <img src="~/images/cross.png" alt="arrow" class="disabled" style="cursor:not-allowed;" />
                }
                else
                {
                    <img class="list_paggination" action-anchor="TeamsPage" pageNumber-anchor="@(Model.PageNumber+1)" searchKey-anchor="@searchKey" src="~/images/arrow-right.png" alt="arrow" />
                }
            </div>
        }
    </section>
</form>
<div class="modal fade" id="request_modal" role="dialog">
    <div class="modal-dialog" id="modal_place" style="margin-left:auto;margin-right:auto;">
    </div>
</div>