@model VRdkHRMsystem.Models.SharedModels.Vacation.VacationRequestListViewModel

@{
    ViewData["Title"] = "Vacations";
    var searchKey = ViewData["SearchKey"] as string;
    var urlForProccess = "/Admin/ProccessVacationRequest?id=";
    var urlForCheck = "/Admin/ViewVacationRequest?id=";
}

<form asp-action="VacationsPage" method="get" class="content" id="list_form">
    <section class="listsection">
        <div class="table">
            <div class="table__header">
                <p>Список запросов на отпуск</p>
                <div class="table__header_search">
                    <input type="text" name="searchKey" placeholder="Найти запрос..." value="@searchKey" />
                    <button type="submit"><img src="~/images/search.png" alt="search" /></button>
                </div>
            </div>
            <div class="table__body">
                @if (Model != null && Model.Vacations.Count() != 0)
                {
                    <div class="table__body_title vaclist__body_title">
                        <p class="vaclist__name">Имя</p>
                        <p class="vaclist__team">Команда</p>
                        <p class="vaclist__type">Тип отпуска</p>
                        <p class="vaclist__dates">Дата</p>
                        <p class="vaclist__duration">Длительность</p>
                        <p class="vaclist__balance">Баланс</p>
                        <p class="vaclist__info">Инфо</p>
                    </div>
                    foreach (var item in Model.Vacations)
                    {
                        <div class="table__body_content vaclist__body_content">
                            <div class="table__body_block">
                                <p class="vaclist__name">@item.EmployeeFullName</p>
                                <p class="vaclist__team">@item.TeamName</p>
                                @if (item.VacationType == "Paid_vacation")
                                {
                                    <p class="vaclist__type">Оплачиваемый</p>
                                }
                                else
                                {
                                    <p class="vaclist__type">Неоплачиваемый</p>
                                }
                                <p class="vaclist__dates">@item.BeginDate.ToString("dd.MM.yyyy") - @item.EndDate.ToString("dd.MM.yyyy")</p>
                                <p class="vaclist__duration">@item.Duration</p>
                                <p class="vaclist__balance">@item.Balance</p>
                                <div class="vaclist__info">
                                    <div class="profile__status_circle_@item.RequestStatus" style="margin-right:5px;">
                                        <div></div>
                                    </div>
                                    <a href="@Url.Action("EmployeeProfile","Admin", new { id = item.EmployeeId })"><img src="~/images/usertable.png" alt="users" style="margin-top:5px;" /></a>
                                    @if (item.RequestStatus != "Approved" && item.RequestStatus != "Denied")
                                    {
                                        <img src="~/images/penciltable.png" alt="pencil" style="cursor:pointer;" onclick="ShowRequestPopup('@urlForProccess','@item.VacationId')" />
                                    }
                                    else
                                    {
                                        <img src="~/images/penciltable.png" alt="pencil" style="cursor:pointer;" onclick="ShowRequestPopup('@urlForCheck','@item.VacationId')" />
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="table__body_content vaclist__body_content">
                        <div class="table__body_block">
                            <p class="vaclist__name">Нет записей</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        @if (Model.Count > Model.PageSize)
        {
            <div class="table__pageblock" style=" margin-top:10px;display:none;" id="paggination_list_gif" type-anchor="vacation">
                <img src="~/images/load.gif" />
            </div>
            <div class="table__pageblock" id="paggination_list">
                @if (Model.PageNumber == 0)
                {
                    <img src="~/images/cross.png" alt="arrow" class="disabled" style="margin-bottom:3px; cursor:not-allowed;" />
                }
                else
                {
                    <img class="list_paggination" action-anchor="VacationsPage" pageNumber-anchor="@(Model.PageNumber-1)" searchKey-anchor="@searchKey" src="~/images/arrow-left.png" alt="arrow" />
                }
                <p>@(Model.PageNumber + 1) страница из @(Model.Count % Model.PageSize != 0 ? Model.Count / @Model.PageSize + 1 : Model.Count / @Model.PageSize)</p>
                @if (Model.Count % Model.PageSize != 0 ? Model.PageNumber == Model.Count / Model.PageSize : Model.PageNumber == Model.Count / Model.PageSize - 1)
                {
                    <img src="~/images/cross.png" alt="arrow" class="disabled" style="cursor:not-allowed;margin-bottom:3px;" />
                }
                else
                {
                    <img class="list_paggination" action-anchor="VacationsPage" pageNumber-anchor="@(Model.PageNumber+1)" searchKey-anchor="@searchKey" src="~/images/arrow-right.png" alt="arrow" />
                }
            </div>
        }
    </section>
</form>
<div class="modal fade" id="request_modal" role="dialog">
    <div class="modal-dialog" id="modal_place" style="margin-left:auto;margin-right:auto;">
    </div>
</div>