@model IEnumerable<VRdkHRMsystem.Models.AdminViewModels.Vacation.VacationRequestViewModel>

@{
    ViewData["Title"] = "ViewVacationRequests";
}

<h2>ViewVacationRequests</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>              
                <th>
                    Name
                </th>
                <th>
                    Team
                </th>
                <th>
                    Vacation type
                </th>
                <th>
                    Begin Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Duration
                </th>
                <th>
                    Request Status
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VacationType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeginDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestStatus)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
    </tbody>
</table>
