@model VRdkHRMsystem.Models.SharedModels.Employee.EmployeeProfileViewModel
@{
    ViewData["Title"] = "EmployeeProfileView";
    var photoBlobUrl = $"https://vrdkstorage.blob.core.windows.net/photos/";
    var timeStamp = DateTime.UtcNow;
}

<div class="content">
    <div class="profile__globalwrapper">
        <div class="profile">
            <div class="profile__header">
                @if (User.IsInRole("Administrator"))
                {
                    <a href="@Url.Action("EditEmployee","Admin", new { id = Model.EmployeeId })"><div class="profile__header__img"></div></a>
                }
                <div class="profile__imgblock"><img src="@($"{photoBlobUrl}{Model.EmployeeId}.png?{timeStamp.ToString()}")" alt="photo" /></div>
                <p class="profile__name">@Model.FirstName @Model.LastName</p>
                <p class="profile__post">@Model.Post</p>
                @if (Model.State == true)
                {
                    <p class="profile__status_active">Работает</p>
                }
                else
                {
                    <p class="profile__status_dismissed">Уволен</p>
                }
            </div>
            <div class="profile__days empprofile__days">
                <div class="profile__block">
                    <p class="profile__daystitle profile__daystitle_border-none">
                        Остаток отпускных дней
                        <div class="profile__vacdays_wrapper">
                            <div>
                    <p class="profile__vacdays_title">Оплачиваемый</p>
                    <div class="profile__daysblock">
                        <p class="profile__dayscount">@Model.PaidVacationBalance</p>
                        <p class="profile__days_word">Дн.</p>
                        <p class="profile__days_leftword">Осталось</p>
                    </div>
                </div>
                <div>
                    <p class="profile__vacdays_title">Неоплачиваемый</p>
                    <div class="profile__daysblock">
                        <p class="profile__dayscount">@Model.UnpaidVacationBalance</p>
                        <p class="profile__days_word">Дн.</p>
                        <p class="profile__days_leftword">Осталось</p>
                    </div>
                </div>
            </div>
            </p>
        </div>
        <div class="profile__block">
            <p class="profile__daystitle">Больничные</p>
            <div class="profile__daysblock">
                <p class="profile__dayscount">@Model.SickLeaveBalance</p>
                <p class="profile__days_word">Дн.</p>
            </div>
        </div>
        <div class="profile__block">
            <p class="profile__daystitle">Прогулы</p>
            <div class="profile__daysblock">
                <p class="profile__dayscount">@Model.AbsenceBalance</p>
                <p class="profile__days_word">Дн.</p>
            </div>
        </div>
        <div class="profile__block">
            <p class="profile__daystitle">Командировка</p>
            <div class="profile__daysblock">
                <p class="profile__dayscount">@Model.AssignmentBalance</p>
                <p class="profile__days_word">Дн.</p>
            </div>
        </div>
    </div>
</div>
<div class="empprofila__data_wrapper">
    <div class="profile__data empprofileedit__data">
        <div class="profile__datablock">
            <p class="profile__blockname">День рождения:</p>
            <p class="profile__blockcontent">@Model.BirthDate.ToString("dd.MM.yyyy")</p>
        </div>
        <div class="profile__datablock">
            <p class="profile__blockname">Роль на сайте</p>
            <p class="profile__blockcontent">@Model.Role</p>
        </div>
        <div class="profile__datablock">
            <p class="profile__blockname">Рабочий E-mail:</p>
            <p class="profile__blockcontent">@Model.WorkEmail</p>
        </div>
        <div class="profile__datablock">
            <p class="profile__blockname">Личный E-mail:</p>
            <p class="profile__blockcontent">@Model.PersonalEmail</p>
        </div>
        <div class="profile__datablock">
            <p class="profile__blockname">Телефон:</p>
            <p class="profile__blockcontent">@Model.PhoneNumber</p>
        </div>
        <div class="profile__datablock">
            <p class="profile__blockname">Дата найма:</p>
            <p class="profile__blockcontent">@Model.HireDate.ToString("dd.MM.yyyy")</p>
        </div>
        <div class="profile__datablock">
            <p class="profile__blockname">Дата увольнения:</p>
            @if (Model.DismissalDate == null)
            {
                <p class="profile__blockcontent">Нет</p>
            }
            else
            {
                <p class="profile__blockcontent">@Model.DismissalDate.Value.ToString("dd.MM.yyyy")</p>
            }

        </div>
    </div>
    <button class="empprofile__button button back_button" type="button">
        <img src="~/images/submit.png" alt="submit" />
        <p>Готово</p>
    </button>
</div>

