@model VRdkHRMsystem.Models.SharedModels.DayProccessMenuViewModel

<div class="box-modal vacmodal" style="border-radius:10px;margin-left:auto;margin-right:auto;">
    <div class="modal__header" style="border-top-left-radius:10px;border-top-right-radius:10px;">
        <p class="modal__title">Меню</p>
    </div>
    <div class="questionmodal__question">
        <p>Выберите, пожалуйста, действие</p>
    </div>
    <div class="vacmodal__buttons">
        <button class="button" type="button" onclick="TeamleadTimeManagmentModal('@Model.Date')">
            <p>План деятельности</p>
        </button>
        <button class="button" type="button" onclick="proccessCalendarDay('@Model.EmployeeId','@Model.Date','@Model.Name','@Model.Surname','@Model.TeamId','@Model.Role')">
            <p>Работа с днём</p>
        </button>
    </div>
</div>