@model VRdkHRMsystem.Models.SharedModels.Team.TeamListViewModel

@{
    var searchKey = ViewData["SearchKey"] as string;
}
<form asp-action="Teams" method="get" class="content" id="submit_form">
    <section class="listsection">
        <div class="table">
            <div class="table__header">
                <p>Список команд</p>
                <div class="table__header_search">
                    <input type="text" placeholder="Найти команду..." name="searchKey" value="@searchKey" />
                    <button type="submit"><img src="~/images/search.png" alt="search" /></button>
                </div>
            </div>
            <div class="table__body">
                @if (Model != null && Model.Teams.Count() != 0)
                {
                    <div class="table__body_title teamlist__body_title">
                        <p class="teamlist__name">Название команды</p>
                        <p class="teamlist__leader">Руководитель команды</p>
                        <p class="teamlist__count">Кол-во сотрудников</p>
                        <p class="teamlist__info">Инфо</p>
                    </div>
                    foreach (var team in Model.Teams)
                    {
                        <div class="table__body_content teamlist__body_content">
                            <div class="table__body_block">
                                <p class="teamlist__name">@team.Name</p>
                                <p class="teamlist__leader">@team.TeamleadName</p>
                                <p class="teamlist__count">@team.MembersCount</p>
                                <p class="teamlist__info">
                                    <a href="@Url.Action("TeamProfile","Teamlead", new { id = team.TeamId })"><img src="~/images/users.png" alt="users" /></a>
                                </p>
                            </div>

                        </div>
                    }
                }
                else
                {
                    <div class="table__body_content teamlist__body_content">
                        <div class="table__body_block">
                            <p class="teamlist__name">Нет записей</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        @if (Model.Count > Model.PageSize)
        {
            <div class="table__pageblock">
                @if (Model.PageNumber == 0)
                {
                    <a><img src="~/images/cross.png" alt="arrow" class="disabled" style="margin-bottom:3px; cursor:not-allowed;" /></a>
                }
                else
                {
                    <a asp-action="Teams" asp-route-pageNumber=@(Model.PageNumber-1) asp-route-searchKey="@searchKey"><img src="~/images/arrow-left.png" alt="arrow" /></a>
                }
                <p style="padding-bottom:5px;">@(Model.PageNumber + 1) страница из @(Model.Count / @Model.PageSize + 1)</p>
                @if (Model.Count % Model.PageSize != 0 ? Model.PageNumber == Model.Count / Model.PageSize : Model.PageNumber == Model.Count / Model.PageSize - 1)
                {
                    <a><img src="~/images/cross.png" alt="arrow" class="disabled" style="cursor:not-allowed;margin-bottom:3px;" /></a>
                }
                else
                {
                    <a asp-action="Teams" asp-route-pageNumber=@(Model.PageNumber+1) asp-route-searchKey="@searchKey"><img src="~/images/arrow-right.png" alt="arrow" /></a>
                }
            </div>
        }
    </section>
</form>
<script src="~/js/searchSubmit.js"></script>