@model VRdkHRMsystem.Models.SharedModels.Vacation.VacationRequestListViewModel

@{
    ViewData["Title"] = "Vacations";
    var searchKey = ViewData["SearchKey"] as string;
    var urlForProccess = "/Teamlead/ProccessVacationRequest?id=";
    var urlForCheck = "/Teamlead/ViewVacationRequest?id=";
}

<form asp-action="Vacations" method="get" class="content">
    <section class="listsection">
        <div class="table">
            <div class="table__header">
                <p>Список запросов на отпуск</p>
                <div class="table__header_search">
                    <input type="text" name="searchKey" placeholder="Найти запрос..." value="@searchKey" />
                    <button type="submit"><img src="~/images/search.png" alt="search" /></button>
                </div>
            </div>
            <div class="table__body">
                @if (Model != null && Model.Vacations.Count() != 0)
                {
                    <div class="table__body_title vaclist__body_title">
                        <p class="vaclist__name">Имя</p>
                        <p class="vaclist__team">Команда</p>
                        <p class="vaclist__type">Вид отпуска</p>
                        <p class="vaclist__dates">Дата</p>
                        <p class="vaclist__duration">Длительность</p>
                        <p class="vaclist__balance">Баланс</p>
                        <p class="vaclist__info">Инфо</p>
                    </div>
                    foreach (var item in Model.Vacations)
                    {
                        <div class="table__body_content vaclist__body_content">
                            <div class="table__body_block">
                                <p class="vaclist__name">@item.EmployeeFullName</p>
                                <p class="vaclist__team">@item.TeamName</p>
                                @if (item.VacationType == "Paid_vacation")
                                {
                                    <p class="vaclist__type">Оплачиваемый</p>
                                }
                                else
                                {
                                    <p class="vaclist__type">Неоплачиваемый</p>
                                }
                                <p class="vaclist__dates">@item.BeginDate.ToString("dd-MM-yyyy") - @item.EndDate.ToString("dd-MM-yyyy")</p>
                                <p class="vaclist__duration">@item.Duration</p>
                                <p class="vaclist__balance">@item.Balance</p>
                                <div class="vaclist__info">
                                    <div class="profile__status_circle_@item.RequestStatus" style="margin-right:5px;">
                                        <div></div>
                                    </div>
                                    <a href="@Url.Action("EmployeeProfile","Teamlead", new { id = item.EmployeeId })"><img src="~/images/usertable.png" alt="users" /></a>
                                    @if (item.RequestStatus != "Approved" && item.RequestStatus != "Denied")
                                    {
                                        <img src="~/images/penciltable.png" alt="pencil" style="cursor:pointer;" onclick="ShowRequestPopup('@urlForProccess','@item.VacationId')" />
                                    }
                                    else
                                    {
                                        <img src="~/images/penciltable.png" alt="pencil" style="cursor:pointer;" onclick="ShowRequestPopup('@urlForCheck','@item.VacationId')" />
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="table__body_content vaclist__body_content">
                        <div class="table__body_block">
                            <p class="vaclist__name">Нет записей</p>                            
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="center" style="margin-left:45%">
            @if (Model.Count > Model.PageSize)
            {
                <p style="margin-bottom:12px;">
                    @if (Model.PageNumber == 0)
                    {
                        <a href="#!"><img src="~/images/arrow-left.png" alt="arrow" class="disabled" /></a>
                    }
                    else
                    {
                        <a asp-action="Vacations" asp-route-pageNumber=@(Model.PageNumber-1) asp-route-searchKey="@searchKey"><img src="~/images/arrow-left.png" alt="arrow" /></a>
                    }

                    @if (Model.Count % Model.PageSize != 0 ? Model.PageNumber == Model.Count / Model.PageSize : Model.PageNumber == Model.Count / Model.PageSize - 1)
                    {
                        <a href="#!" class="disabled" style="cursor:default"><img src="~/images/arrow-right.png" alt="arrow" /></a>
                    }
                    else
                    {
                        <a asp-action="Vacations" asp-route-pageNumber=@(Model.PageNumber+1) asp-route-searchKey="@searchKey"><img src="~/images/arrow-right.png" alt="arrow" /></a>
                    }
                </p>
            }
        </div>
    </section>
</form>
<div class="modal fade" id="request_modal" role="dialog" style="">
        <div class="modal-dialog modal-content">
            <div id="modal_place" ></div>
        </div>
</div>
