@model VRdkHRMsystem.Models.Profile.ProfileResidualsViewModel
<div class="profile__right">
    <div class="profile__days">
        <div class="profile__block">
            <input asp-for="EmployeeId" hidden />
            <p class="profile__daystitle">Командировка</p>
            <div class="profile__daysblock">
                <p class="profile__dayscount">@Model.AssignmentBalance</p>
                <p class="profile__days_word">Дней</p>
            </div>
        </div>
        <div class="profile__block">
            <div class="profile__daystitle">
                Отпуск
                <div>
                    <p class="profile__vacdays_title">Оплаченный</p>
                    <p class="profile__vacdays_title">Неоплаченный</p>
                </div>
            </div>
            <div class="profile__vacdays_wrapper">
                <div>
                    <div class="profile__daysblock">
                        <p class="profile__dayscount">@Model.PaidVacationBalance</p>
                        <p class="profile__days_word">Дней</p>
                        <p class="profile__days_leftword">Осталось</p>
                    </div>
                </div>
                <div>
                    <div class="profile__daysblock">
                        <p class="profile__dayscount">@Model.UnpaidVacationBalance</p>
                        <p class="profile__days_word">Дней</p>
                        <p class="profile__days_leftword">Осталось</p>
                    </div>
                </div>
            </div>
            <a class="profile__daysbutton profile__daysbutton_vac" href="@Url.Action("RequestVacation","Request", new { id = Model.EmployeeId })" style="text-decoration: none">Запросить отпуск</a>
        </div>
        <div class="profile__block">
            <p class="profile__daystitle">Больничные</p>
            <div class="profile__daysblock">
                <p class="profile__dayscount">@Model.SickLeaveBalance</p>
                <p class="profile__days_word">Дней</p>
            </div>
            <a class="profile__daysbutton" href="@Url.Action("RequestSickLeave","Request", new { id = Model.EmployeeId })" style="text-decoration: none">Сообщить о больничном</a>
        </div>
        <div class="profile__block">
            <p class="profile__daystitle">Прогулы</p>
            <div class="profile__daysblock">
                <p class="profile__dayscount">@Model.AbsenceBalance</p>
                <p class="profile__days_word">Дней</p>
            </div>
        </div>
    </div>
    <div class="profile__tabs_section">
        <div class="profile__tabs">
            <div class="profile__tabs_header">
                <div class="profile__tab" id="vacation" onclick="getinitialprofilerequests('0','vacation')">Мои отпуска</div>
                <div class="profile__tab" id="sickleave" onclick="getinitialprofilerequests('0','sickleave')">Мои больничные</div>
                <div class="profile__tab" id="assignment" onclick="getinitialprofilerequests('0','assignment')">Мои командировки</div>
                <div class="profile__tab">Мои прогулы</div>
            </div>
            <div class="profile__tabs_body">
                <div class="profile__tabs_vacation profile__tab_post">
                    <div class="profile__tabs_vaccontent profile__tabs_content">Загрузка...</div>
                </div>
                <div class="profile__tabs_sickleave profile__tab_post">
                    <div class="profile__tabs_vaccontent profile__tabs_content">Загрузка...</div>
                </div>
                <div class="profile__tabs_assignment profile__tab_post">
                    <div class="profile__tabs_vaccontent profile__tabs_content">Загрузка...</div>
                </div>
                <div class="profile__tabs_passes profile__tab_post">
                    <div class="profile__tabs_body_block">
                        <div class="profile__tabs_passestitle profile__tabs_title">
                            <p class="profile__tabs_passesdates">Даты</p>
                            <div class="profile__tabs_arrows"><img src="~/images/angle-left.png" alt="angle" /><img src="~/images/angle-right.png" alt="angle" /></div>
                        </div>
                        <div class="profile__tabs_passescontent profile__tabs_content">
                            <p class="profile__tabs_passesdate">12.12.2012</p>
                            <p class="profile__tabs_passesdate">12.12.2012</p>
                            <p class="profile__tabs_passesdate">12.12.2012</p>
                            <p class="profile__tabs_passesdate">12.12.2012</p>
                            <p class="profile__tabs_passesdate">12.12.2012</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="request_modal" role="dialog" style="">
    <div class="modal-dialog modal-content">
        <div id="modal_place"></div>
    </div>
</div>

