@model VRdkHRMsystem.Models.Profile.Absences.ProfileAbsencesListViewModel


@if (Model != null && Model.Absences.Count() != 0)
{
    <div class="profile__tabs_body_block">
        <div class="profile__tabs_passestitle profile__tabs_title">
            <p class="profile__tabs_passesdates">Даты</p>
        </div>
        <div class="profile__tabs_passescontent profile__tabs_content">
            @foreach (var item in Model.Absences)
            {
            <p class="profile__tabs_passesdate">@item.AbsenceDate.ToString("dd.MM.yyyy")</p>
            }
        </div>
    </div>
    @if (Model.Count > Model.PageSize)
    {
        <div class="table__pageblock" style=" margin-top:10px;">
            @if (Model.PageNumber == 0)
            {
                <a><img src="~/images/cross.png" alt="arrow" class="disabled" style="margin-bottom:3px; cursor:not-allowed;" /></a>
            }
            else
            {
                <a onclick="getprofilerequests('@(Model.PageNumber-1)','absence')" style="cursor:pointer"><img src="~/images/arrow-left.png" alt="arrow" /></a>
            }
            <p style="padding-bottom:5px;">@(Model.PageNumber + 1) страница из @(Model.Count % Model.PageSize != 0 ? Model.Count / @Model.PageSize + 1 : Model.Count / @Model.PageSize)</p>
            @if (Model.Count % Model.PageSize != 0 ? Model.PageNumber == Model.Count / Model.PageSize : Model.PageNumber == Model.Count / Model.PageSize - 1)
            {
                <a><img src="~/images/cross.png" alt="arrow" class="disabled" style="cursor:not-allowed;margin-bottom:3px;" /></a>
            }
            else
            {
                <a onclick="getprofilerequests('@(Model.PageNumber+1)','absence')" style="cursor:pointer"><img src="~/images/arrow-right.png" alt="arrow" /></a>
            }
        </div>
    }
}
else
{
    <div class="profile__tabs_assignmentcontent profile__tabs_content" style="width:auto">
        <p class="profile__tabs_assignmentdate">Нет записей</p>
    </div>
}
