@model VRdkHRMsystem.Models.Profile.Absences.ProfileAbsencesListViewModel


@if (Model != null && Model.Absences.Count() != 0)
{
    <div class="profile__tabs_body_block">
        <div class="profile__tabs_passestitle profile__tabs_title">
            <p class="profile__tabs_passesdates">Даты</p>
        </div>
        <div class="profile__tabs_passescontent profile__tabs_content">
            @foreach (var item in Model.Absences)
            {
                <p class="profile__tabs_passesdate">@item.AbsenceDate.ToString("dd.MM.yyyy")</p>
            }
        </div>
    </div>
    @if (Model.Count > Model.PageSize)
    {
        <div class="table__pageblock" style=" margin-top:10px;display:none;" id="page_load_gif" type-anchor="absence">
            <img src="~/images/load.gif" />
        </div>
        <div class="table__pageblock" style=" margin-top:10px;" id="paggination_menu" type-anchor="absence">
            @if (Model.PageNumber == 0)
            {
                <img src="~/images/cross.png" alt="arrow" class="disabled" style="cursor:not-allowed;" />
            }
            else
            {
                <img class="pagginate" type-anchor="absence" page-anchor="@(Model.PageNumber-1)" style="cursor:pointer" src="~/images/arrow-left.png" alt="arrow" />
            }
            <p>@(Model.PageNumber + 1) страница из @(Model.Count % Model.PageSize != 0 ? Model.Count / @Model.PageSize + 1 : Model.Count / @Model.PageSize)</p>
            @if (Model.Count % Model.PageSize != 0 ? Model.PageNumber == Model.Count / Model.PageSize : Model.PageNumber == Model.Count / Model.PageSize - 1)
            {
                <img src="~/images/cross.png" alt="arrow" class="disabled" style="cursor:not-allowed;" />
            }
            else
            {
                <img class="pagginate" type-anchor="absence" page-anchor="@(Model.PageNumber+1)" style="cursor:pointer" src="~/images/arrow-right.png" alt="arrow" />
            }
        </div>
    }
}
else
{
    <div class="profile__tabs_assignmentcontent profile__tabs_content" style="width:auto">
        <p class="profile__tabs_assignmentdate">Нет записей</p>
    </div>
}
