@model VRdkHRMsystem.Models.Profile.ProfileAssignmentListViewModel


@if (Model != null && Model.Assignments.Count() != 0)
{
    foreach (var item in Model.Assignments)
    {
        <div class="profile__tabs_body_block">
            <div class="profile__tabs_assignmentstitle profile__tabs_title">
                <p class="profile__tabs_assignmentdate">Даты</p>
                <p class="profile__tabs_assignmentname">Название</p>
                <p class="profile__tabs_assignmentduration">Длит.</p>
            </div>
            <div class="profile__tabs_assignmentcontent profile__tabs_content">
                <p class="profile__tabs_assignmentdate" style="font-size:14px;">@item.BeginDate.ToString("dd.MM.yyyy") - @item.EndDate.ToString("dd.MM.yyyy")</p>
                <p class="profile__tabs_assignmentname">@item.Name</p>
                <p class="profile__tabs_assignmentduration">@item.Duration</p>
            </div>
        </div>
    }
    @if (Model.Count > Model.PageSize)
    {
        <div class="table__pageblock" style=" margin-top:10px;display:none;" id="page_load_gif" type-anchor="assignment">
            <img src="~/images/load.gif" />
        </div>
        <div class="table__pageblock" style=" margin-top:10px;" id="paggination_menu" type-anchor="assignment">
            @if (Model.PageNumber == 0)
            {
                <img src="~/images/cross.png" alt="arrow" class="disabled" style="cursor:not-allowed;" />
            }
            else
            {
                <img class="pagginate" type-anchor="assignment" page-anchor="@(Model.PageNumber-1)" style="cursor:pointer" src="~/images/arrow-left.png" alt="arrow" />
            }
            <p>@(Model.PageNumber + 1) страница из @(Model.Count % Model.PageSize != 0 ? Model.Count / @Model.PageSize + 1 : Model.Count / @Model.PageSize)</p>
            @if (Model.Count % Model.PageSize != 0 ? Model.PageNumber == Model.Count / Model.PageSize : Model.PageNumber == Model.Count / Model.PageSize - 1)
            {
                <img src="~/images/cross.png" alt="arrow" class="disabled" style="cursor:not-allowed;" />
            }
            else
            {
                <img class="pagginate" type-anchor="assignment" page-anchor="@(Model.PageNumber+1)" style="cursor:pointer" src="~/images/arrow-right.png" alt="arrow" />
            }

        </div>
    }
}
else
{
    <div class="profile__tabs_assignmentcontent profile__tabs_content">
        <p class="profile__tabs_assignmentdate">Нет записей</p>
    </div>
}