@model VRdkHRMsystem.Models.Profile.Notification.NotificationListViewModel
@{
    var searchKey = ViewData["SearchKey"] as string;
}
<form asp-action="Notifications" method="get" class="content">
    <input asp-for="IsAdministrator" hidden />
    <section class="listsection">
        <div class="table">
            <div class="table__header">
                <p>Мои уведомления</p>
                <div class="table__header_search">
                    <input type="text" name="searchKey" placeholder="Найти уведомление..." value="@searchKey" />
                    <button type="submit"><img src="~/images/search.png" alt="search" /></button>
                </div>
            </div>
            <div class="table__body">
                <div class="table__body_title">
                    <p class="notiflist__date">Название</p>
                    <p class="notiflist__content">Содержание</p>
                </div>
                <div class="table__body_content">
                    @if (Model != null && Model.Notifications.Count() != 0)
                    {
                        if (User.IsInRole("Administrator"))
                        {
                            foreach (var item in Model.Notifications)
                            {
                                <a style="text-decoration:none; color: inherit;" href="@Url.Action("RedirectWithNotification", "Profile", new { notificationId = item.NotificationId, notificationRange = item.NotificationRange, notificationType = item.NotificationType, isChecked = item.IsChecked, role = "Administrator" })">
                                    <div class="table__body_block">

                                        <p class="notiflist__date">@item.NotificationDate.ToShortDateString() в @item.NotificationDate.ToShortTimeString()</p>
                                        <p class="notiflist__content">@item.Description</p>

                                    </div>
                                </a>
                            }
                        }
                        else if (User.IsInRole("Teamlead"))
                        {
                            foreach (var item in Model.Notifications)
                            {
                                <a style="text-decoration:none; color: inherit;" href="@Url.Action("RedirectWithNotification", "Profile", new { notificationId = item.NotificationId, notificationRange = item.NotificationRange, notificationType = item.NotificationType, isChecked = item.IsChecked, role = "Teamlead" })">
                                    <div class="table__body_block">
                                        <p class="notiflist__date">@item.NotificationDate.ToShortDateString() в @item.NotificationDate.ToShortTimeString()</p>
                                        <p class="notiflist__content">@item.Description</p>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            foreach (var item in Model.Notifications)
                            {
                                <div class="table__body_block">
                                    <a href="@Url.Action("RedirectWithNotification", "Profile", new { notificationId = item.NotificationId, notificationRange = item.NotificationRange, notificationType = item.NotificationType, isChecked = item.IsChecked })">
                                        <p class="notiflist__date">@item.NotificationDate.ToShortDateString() в @item.NotificationDate.ToShortTimeString()</p>
                                        <p class="notiflist__content">@item.Description</p>
                                    </a>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div class="table__body_block">
                            <p class="notiflist__date">-</p>
                            <p class="notiflist__content">Нет уведомлений</p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="center" style="margin-left:45%">
            @if (Model.Count > Model.PageSize)
            {
                <p style="margin-bottom:12px;">
                    @if (Model.PageNumber == 0)
                    {
                        <a href="#!"><img src="~/images/arrow-left.png" alt="arrow" class="disabled" /></a>
                    }
                    else
                    {
                        <a asp-action="Notifications" asp-route-pageNumber=@(Model.PageNumber-1) asp-route-isAdministrator="@Model.IsAdministrator" asp-route-searchKey="@searchKey"><img src="~/images/arrow-left.png" alt="arrow" /></a>
                    }

                    @if (Model.PageNumber == Model.Count / Model.PageSize)
                    {
                        <a href="#!" class="disabled" style="cursor:default"><img src="~/images/arrow-right.png" alt="arrow" /></a>
                    }
                    else
                    {
                        <a asp-action="Notifications" asp-route-pageNumber=@(Model.PageNumber+1) asp-route-isAdministrator="@Model.IsAdministrator" asp-route-searchKey="@searchKey"><img src="~/images/arrow-right.png" alt="arrow" /></a>
                    }
                </p>
            }
        </div>
    </section>
</form>