@model VRdkHRMsystem.Models.Profile.NotificationListViewModel
@{
    var searchKey = ViewData["SearchKey"] as string;
}
<form asp-action="Notifications" method="get" class="content" id="submit_form">
    <section class="listsection">
        <div class="table">
            <div class="table__header">
                <p>Мои уведомления</p>
                <div class="table__header_search">
                    <input type="text" name="searchKey" placeholder="Найти уведомление..." value="@searchKey" />
                    <button type="submit" class="submit_button"><img src="~/images/search.png" alt="search" /></button>
                </div>
            </div>
            <div class="table__body">
                <div class="table__body_title">
                    <p class="notiflist__date">Название</p>
                    <p class="notiflist__content">Содержание</p>
                </div>
                <div class="table__body_content">
                    @if (Model != null && Model.Notifications.Count() != 0)
                    {
                        if (User.IsInRole("Administrator"))
                        {
                            foreach (var item in Model.Notifications)
                            {
                                <a style="text-decoration:none; color: inherit;" href="@Url.Action("RedirectWithNotification", "Profile", new { notificationId = item.NotificationId, notificationRange = item.NotificationRange, notificationType = item.NotificationType, role = "Admin" })">
                                    <div class="table__body_block">
                                        <p class="notiflist__date">@item.NotificationDate.ToLocalTime().ToShortDateString() в @item.NotificationDate.ToLocalTime().ToShortTimeString()</p>
                                        <p class="notiflist__content">@item.Description</p>
                                    </div>
                                </a>
                            }
                        }
                        else if (User.IsInRole("Teamlead"))
                        {
                            foreach (var item in Model.Notifications)
                            {
                                <a style="text-decoration:none; color: inherit;" href="@Url.Action("RedirectWithNotification", "Profile", new { notificationId = item.NotificationId, notificationRange = item.NotificationRange, notificationType = item.NotificationType, role = "Teamlead" })">
                                    <div class="table__body_block">

                                        <p class="notiflist__date">@item.NotificationDate.ToLocalTime().ToShortDateString() в @item.NotificationDate.ToLocalTime().ToShortTimeString()</p>
                                        <p class="notiflist__content">@item.Description</p>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            foreach (var item in Model.Notifications)
                            {
                                <a style="text-decoration:none; color: inherit;" href="@Url.Action("RedirectWithNotification", "Profile", new { notificationId = item.NotificationId, notificationRange = item.NotificationRange, notificationType = item.NotificationType, isChecked = item.IsChecked })">
                                    <div class="table__body_block">

                                        <p class="notiflist__date">@item.NotificationDate.ToLocalTime().ToShortDateString() в @item.NotificationDate.ToLocalTime().ToShortTimeString()</p>
                                        <p class="notiflist__content">@item.Description</p>
                                    </div>
                                </a>
                            }
                        }
                    }
                    else
                    {
                        <div class="table__body_block">
                            <p class="notiflist__date">Нет уведомлений</p>
                            <p class="notiflist__content">-</p>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Model.Count > Model.PageSize)
        {
            <div class="table__pageblock">
                @if (Model.PageNumber == 0)
                {
                    <img src="~/images/cross.png" alt="arrow" class="disabled" style="margin-bottom:3px; cursor:not-allowed;" />
                }
                else
                {
                    <a asp-action="Notifications" asp-route-pageNumber=@(Model.PageNumber-1) asp-route-searchKey="@searchKey"><img src="~/images/arrow-left.png" alt="arrow" /></a>
                }
                <p style="padding-bottom:5px;">@(Model.PageNumber + 1) страница из @(Model.Count % Model.PageSize != 0 ? Model.Count / @Model.PageSize + 1 : Model.Count / @Model.PageSize)</p>
                @if (Model.Count % Model.PageSize != 0 ? Model.PageNumber == Model.Count / Model.PageSize : Model.PageNumber == Model.Count / Model.PageSize - 1)
                {
                    <img src="~/images/cross.png" alt="arrow" class="disabled" style="cursor:not-allowed;margin-bottom:3px;" />
                }
                else
                {
                    <a asp-action="Notifications" asp-route-pageNumber=@(Model.PageNumber+1) asp-route-searchKey="@searchKey"><img src="~/images/arrow-right.png" alt="arrow" /></a>
                }
            </div>
        }
    </section>
</form>