@model VRdkHRMsystem.Models.Profile.ProfileVacationListViewModel

@if (Model != null && Model.Vacations.Count() != 0)
{
    foreach (var item in Model.Vacations)
    {
        <div class="profile__tabs_body_block">
            <div class="profile__tabs_vactitle profile__tabs_title">
                <p class="profile__tabs_vacdate">Даты</p>
                <p class="profile__tabs_vactype">Тип</p>
                <p class="profile__tabs_vacstatus">Статуc</p>
                <p class="profile__tabs_vacduration">Длит.</p>
            </div>
            <div class="profile__tabs_vaccontent profile__tabs_content">
                <p class="profile__tabs_vacdate">@item.BeginDate.ToString("dd.MM.yyyy") - @item.EndDate.ToString("dd.MM.yyyy")</p>
                @if (item.VacationType == "Paid_vacation")
                {
                    <p class="profile__tabs_vactype">Оплач.</p>
                }
                else
                {
                    <p class="profile__tabs_vactype">Неоплач.</p>
                }
                <div class="profile__tabs_vacstatus profile__tabs_vacstatus-item">
                    <div class="profile__status_circle_@item.RequestStatus">
                        <div></div>
                    </div>
                </div>
                <p class="profile__tabs_vacduration">@item.Duration</p>
            </div>
        </div>
    }
    @if (Model.Count > Model.PageSize)
    {
        <div class="table__pageblock" style=" margin-top:10px;display:none;" id="page_load_gif" type-anchor="vacation">
            <img src="~/images/load.gif" />
        </div>
        <div class="table__pageblock" style=" margin-top:10px;" id="paggination_menu" type-anchor="vacation">
            @if (Model.PageNumber == 0)
            {
                <img src="~/images/cross.png" alt="arrow" class="disabled" style="cursor:not-allowed;" />
            }
            else
            {
                <img class="pagginate" type-anchor="vacation" page-anchor="@(Model.PageNumber-1)" style="cursor:pointer" src="~/images/arrow-left.png" alt="arrow"/>
            }
            <p>@(Model.PageNumber + 1) страница из @(Model.Count % Model.PageSize != 0 ? Model.Count / @Model.PageSize + 1 : Model.Count / @Model.PageSize)</p>
            @if (Model.Count % Model.PageSize != 0 ? Model.PageNumber == Model.Count / Model.PageSize : Model.PageNumber == Model.Count / Model.PageSize - 1)
            {
                <img src="~/images/cross.png" alt="arrow" class="disabled" style="cursor:not-allowed;" />
            }
            else
            {
                <img class="pagginate" type-anchor="vacation" page-anchor="@(Model.PageNumber+1)" style="cursor:pointer" src="~/images/arrow-right.png" alt="arrow" />
            }

        </div>
    }
}
else
{
    <div class="profile__tabs_vaccontent profile__tabs_content" style="width:auto">
        <p class="profile__tabs_vacdate">Нет записей</p>
    </div>
}
